.rotate {
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hover-animate-pulse-rotate {
  @apply transition duration-500 ease-in-out transform cursor-default hover:-translate-y-1 hover:scale-110 hover:skew-x-6 hover:-rotate-2;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(-20px);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.animate-bounce-3s {
  animation: bounce 9s 3s infinite;
}
.animate-bounce-6s {
  animation: bounce 7s 6s infinite;
}
.animate-bounce-9s {
  animation: bounce 5s 9s infinite;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(350px);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-move {
  animation: move 10s ease-in-out infinite;
}

.animate-move-2s {
  animation: move 10s 2s ease-in-out infinite;
}

.animate-move-3s {
  animation: move 10s 2s ease-in-out infinite;
}

button:hover span:first-child {
  animation-name: fill;
  @apply bg-accent;
}

.secondary:hover p:first-child {
  @apply text-dark;
}

/* @keyframes spin3d {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
} */

@keyframes flare {
  0% {
    background: linear-gradient(to right, #f00, #ff0);
    box-shadow: 0 0 10px #f00;
  }
  50% {
    background: linear-gradient(to right, #ff0, #f00);
    box-shadow: 0 0 20px #ff0;
  }
  100% {
    background: linear-gradient(to right, #f00, #ff0);
    box-shadow: 0 0 10px #f00;
  }
}

.flare {
  animation-name: flare;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}
