@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Aeonik";
  src: url("../assets/fonts/Aeonik/Aeonik-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Aeonik";
  src: url("../assets/fonts/Aeonik/Aeonik-RegularItalic.otf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Aeonik";
  src: url("../assets/fonts/Aeonik/Aeonik-Bold.otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Aeonik";
  src: url("../assets/fonts/Aeonik/Aeonik-Light.otf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Aeonik";
  src: url("../assets/fonts/Aeonik/Aeonik-Air.otf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Aeonik";
  src: url("../assets/fonts/Aeonik/Aeonik-Medium.otf");
  font-weight: 400;
  font-style: normal;
}

.patternBg {
  background-size: cover;
  background-repeat: repeat-y;
}

.press {
  transition: transform 0.8s ease;
  cursor: pointer;
}
.press:hover {
  transform: scale(0.98);
  opacity: 0.9;
}

.light-border {
  @apply border-grey-legacy border-opacity-30;
}

.align-row {
  @apply flex flex-row;
}

.align-col {
  @apply flex flex-col;
}

.centered-row {
  @apply flex flex-row items-center justify-center;
}

.centered-col {
  @apply flex flex-col items-center justify-center;
}

.center {
  @apply items-center justify-center;
}

.row-btwn {
  @apply flex flex-row justify-between;
}

.primary-checkbox[type="checkbox"]:checked::after {
  background-color: red;
}

.disabled {
  opacity: 60%;
  cursor: not-allowed;
  touch-action: none;
  pointer-events: none;
}

select::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0.5rem;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid greenyellow;
  transform: translateY(-50%) rotate(45deg);
}

.rotate {
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
