@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Aeonik";
  src: url("../assets/fonts/Aeonik/Aeonik-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Aeonik";
  src: url("../assets/fonts/Aeonik/Aeonik-RegularItalic.otf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Aeonik";
  src: url("../assets/fonts/Aeonik/Aeonik-Bold.otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Aeonik";
  src: url("../assets/fonts/Aeonik/Aeonik-Light.otf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Aeonik";
  src: url("../assets/fonts/Aeonik/Aeonik-Air.otf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Aeonik";
  src: url("../assets/fonts/Aeonik/Aeonik-Medium.otf");
  font-weight: 400;
  font-style: normal;
}

.patternBg {
  background-image: url("../assets/images/illustrations/background-pattern.png");
  background-size: cover;
  background-repeat: repeat-y;
}

.press {
  transition: transform 0.8s ease;
  cursor: pointer;
}
.press:hover {
  transform: scale(0.98);
  opacity: 0.9;
}

.light-border {
  @apply border-grey border-opacity-30;
}

.align-row {
  @apply flex flex-row;
}

.align-col {
  @apply flex flex-col;
}

.centered-row {
  @apply flex flex-row center;
}

.center {
  @apply items-center justify-center;
}

.row-btwn {
  @apply flex flex-row justify-between;
}
