.hero-bg {
  background-image: url("../assets/images/pictures/hero-bg.png");
  background-size: cover;
}

.spotlight-bg {
  background-image: url("../assets/images/pictures/spotlight-bg.png");
  background-size: cover;
}
